html body {
    background-color: #22282e;
    min-width: 1024px;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "ProducSansBold";
    src: url("fonts/Product Sans Bold.ttf");
}

@font-face {
    font-family: "ProducSansRegular";
    src: url("fonts/Product Sans Regular.ttf");
}

.index-title {
    font-size: 64px;
    text-align: center;
    margin-top: 17vh;
    font-family: ProducSansBold, serif;
    color: #ffffff;
    margin-bottom: 0;
}

.index-title-small {
    font-size: 20px;
    font-family: ProducSansBold, serif;
    color: #ffffff;
    width: 33.33%;
    text-align: center;
}

.header-search {
    width: 33.33%;
    height: 100%;
    position: relative;
}

.header-search-img {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: 30px;
    margin-right: 10px;
}

.header-search-input-div {
    width: 277px;
    height: 30px;
    background-color: #3F4448;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    margin-left: 60px;
    margin-right: 10px;
}

.header-search-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 13px;
    font-family: ProducSansBold, serif;
    color: #ffffff;
}

.header-search-share {
    font-size: 20px;
    font-family: ProducSansBold, serif;
    color: #8D8F92;
    text-align: center;
    position: absolute;
    right: 140px;
}

.header-search-share-imag {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -8px;
}

.index-title-span {
    color: #F18E33;
}

.index-input-div {
    width: 29%;
    height: 65px;
    background-color: #3F4448;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px auto 0;
}

.index-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 65px;
    width: 100%;
    line-height: 65px;
    font-size: 22px;
    font-family: ProducSansBold, serif;
    color: #ffffff;
}

.index-find-me {
    font-size: 16px;
    font-family: ProducSansRegular, serif;
    color: #c9cacc;
    text-align: center;
    margin-top: 25px;
}

.index-footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 65px;
    background-color: #1B1F22;
}

.index-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65px;
    background-color: #23292F;
}

.loading {
    width: 100px;
    height: 50px;
    margin: 50px auto 0;
}

.line-scale-pulse-out > div {
    background-color: #F18E33;
}

.index-footer-title {
    font-size: 14px;
    font-family: ProducSansRegular, serif;
    color: #C4C4C4;
    width: 33.33%;
    text-align: center;
}

.error-code {
    font-size: 300px;
    font-family: ProducSansBold, serif;
    color: #4B565F;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.error-message {
    font-size: 50px;
    font-family: ProducSansBold, serif;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.error-button {
    background-color: #21A25A;
    width: 300px;
    height: 44px;
    border-radius: 8px;
    color: #ffffff;
    border: none;
    margin-top: 60px;
    cursor: pointer;
    font-size: 15px;
    font-family: ProducSansBold, serif;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.error-button:hover {
    background-color: #1F8C4F;
}

a:hover img {
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.shake {
    animation: shakeAnim 500ms ease;
}

@keyframes shakeAnim {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(-15px);
    }
    20% {
        -webkit-transform: translateX(15px);
    }
    30% {
        -webkit-transform: translateX(-12px);
    }
    40% {
        -webkit-transform: translateX(12px);
    }
    50% {
        -webkit-transform: translateX(-10px);
    }
    60% {
        -webkit-transform: translateX(10px);
    }
    70% {
        -webkit-transform: translateX(-6px);
    }
    80% {
        -webkit-transform: translateX(6px);
    }
    90% {
        -webkit-transform: translateX(-3px);
    }
    95% {
        -webkit-transform: translateX(3px);
    }
}

/*profile*/

.profile-page {
    min-height: 100%;
}

.profile-user-info-div {
    width: 100%;
    height: 383px;
    background-color: #2F363D;
    margin-top: 65px;
    display: block;
}

.profile-user-info-div > div {
    max-width: 1440px;
}

.profile-user-info {
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.user-detail {
    width: 357px;
    height: 252px;
    padding: 76px 65px 55px 55px;
}

.user-contributions {
    width: 888px;
    height: 271px;
    padding: 78px 75px 34px 0;
}

.user-img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-left: 121px;
}

.user-name {
    font-size: 18px;
    font-family: ProducSansBold, serif;
    color: #ffffff;
    margin: 17px 0 0 0;
    text-align: center;
}

.user-bio {
    font-size: 14px;
    font-family: ProducSansBold, serif;
    color: #938C8C;
    margin: 11px 0 0 0;
    text-align: center;
}

.flex {
    display: flex;
}

.user-friends {
    width: 33.3%;
    height: 38px;
    margin-top: 31px;
    display: flex;
}

.user-friends-count {
    font-size: 17px;
    font-family: ProducSansBold, serif;
    color: #ffffff;
    margin: 2px 0 0 12px;
}

.user-friends-name {
    font-size: 11px;
    font-family: ProducSansRegular, serif;
    color: #757272;
    margin: 0 0 0 12px;
}

.user-contributions-count {
    font-size: 22px;
    font-family: ProducSansBold, serif;
    color: #ffffff;
    margin: 0 0 0 35px;
}

.user-contributions-map {
    width: 100%;
    height: 165px;
    margin-top: 38px;
    display: flex;
}

.user-contributions-chart {
    width: 764px;
    height: 100%;
    margin-left: 35px;
    display: flex;
}

.user-contributions-month {
    margin-top: 26px;
    margin-left: 52px;
    width: 764px;
    height: 15px;
    display: flex;
}

.user-contributions-year {
    color: #938C8C;
    font-size: 15px;
    font-family: ProducSansBold, serif;
    margin-left: 44px;
}

.user-contributions-max-count {
    font-size: 13px;
    font-family: ProducSansBold, serif;
    color: #938C8C;
    margin: 0 0 15px 0;
}

.user-contributions-month-text {
    color: #938C8C;
    font-size: 13px;
    font-family: ProducSansBold, serif;
    margin-right: 40px;
    margin-top: 0;
}

.margin-3 {
    margin-bottom: 3px;
}

.dot {
    margin-right: 55px;
}

.profile-repos-div {
    display: flex;
    margin: 30px auto;
    max-width: 1440px;
}

.profile-more {
    margin-left: 55px;
    width: 310px;
    margin-right: 100px;
}

.content-title {
    color: #F18E33;
    font-size: 22px;
    font-family: ProducSansBold, serif;
    margin: 0;
}

.more-content {
    color: #FFFFFF;
    font-size: 20px;
    font-family: ProducSansRegular, serif;
    margin: 20px 0 0 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.organizations-div{
    display: flex;
    margin-top: 15px;
}

.organizations-img {
    width: 47px;
    height: 47px;
    border-radius: 50px;
}

.organizations-name {
    color: #FFFFFF;
    font-size: 20px;
    font-family: ProducSansRegular, serif;
    margin: 0 0 0 20px;
    line-height: 47px;
}

.repos-bg {
    width: 381px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.10);
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.repos-star {
    display: flex;
    height: 18px;
}

.repos-lang {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #F18E33;
    margin-top: 5px;
}

.repo {
    margin: 8px 16px;
}

.repos-name {
    color: #262626;
    font-size: 16px;
    font-family: ProducSansBold, serif;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.repos-desc {
    color: #586069;
    font-size: 14px;
    font-family: ProducSansBold, serif;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.repos-star-text {
    color: #999999;
    font-size: 14px;
    font-family: ProducSansBold, serif;
    margin: 0 5px 0 3px;
}

.repos-line {
    background-color: rgba(140, 140, 140, .25);
    height: 1px;
    width: 100%;
}
