body {
    background-color: #23292F;
    min-width: 1024px;
}

@font-face {
    font-family: "ProducSansBold";
    src: url("./fonts/Product Sans Bold.ttf");
}

@font-face {
    font-family: "ProducSansRegular";
    src: url("./fonts/Product Sans Regular.ttf");
}

.index-title {
    font-size: 64px;
    text-align: center;
    margin-top: 18vh;
    font-family: ProducSansBold, serif;
    color: #ffffff;
}

.index-title-span {
    color: #F18E33;
}

.index-input-div {
    width: 29%;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3F4448;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.index-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 65px;
    width: 100%;
    line-height: 65px;
    font-size: 22px;
    font-family: ProducSansBold, serif;
    color: #ffffff;
}

.index-find-me {
    font-size: 14px;
    font-family: ProducSansRegular, serif;
    color: #C4C4C4;
    text-align: center;
    margin-top: 20px;
}

.index-footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 65px;
    background-color: #1B1F22;
}

.index-footer-title {
    font-size: 14px;
    font-family: ProducSansRegular, serif;
    color: #C4C4C4;
    width: 33.33%;
    text-align: center;
}

input:focus {
    outline: none;
}
